/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Anais Gomez and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/black_white_bg.jpg)
      center center fixed no-repeat;
    background-size: cover;
    font-family: "helvetica", sans-serif;
	
}

.center {
    width: 80%;/*added this to make div responsive */
    max-width: 800px;
	padding: 2%;
    margin: 200px auto;/* changed margin from 100px */
	text-align: center; 
    /* removed background: rgba (256, 256, 256, .60); */
    /* removed -- border: 4px dashed white; */
}

   
#logo {
    margin-bottom: 50px; /* increased bottom margin from 50px */
    margin-top: 100px; /* increased top margin from 40px */
	text-align: right;
    /* removed -- border: 4px dashed red; */
}


h1 {
	font-family: "helvetica", sans-serif;
    font-weight: 150;
    font-style: italic; /* changed font style from normal to italic */
    font-size: 1.2em; /* increased font size */
    text-transform: uppercase; /* added text-transform */
    line-height: 1.5;
    color: #fff;
    padding: 20px 20px;
    margin: 0px auto 0px auto;
    margin-bottom: 50px;
    
/* fade in and out animation */
    animation: fadeIn ease 5s;
    -webkit-animation:fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;

}
@keyframes fade In{ 
    0% { opacity: 0;
    }
    100% {opacity 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
}

nav{
    font-size: 10em;
    font-weight: 150;
    width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200em; /* decreased margin top*/
    
    }

/* all code below replaced from demo styles... By Karim Balaa @FRESHCONTRAST adds fade to hover */

* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .4s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

nav li{
  padding: 0 px;
  text-align:center;
  font-family: "helvetica", sans-serif;
    display: inline;
}

nav a{
  color:#fff;
  padding:20px 20px;
  font-size: 15px;
  text-decoration:none;
  letter-spacing:3px;
  text-transform:uppercase;
}

a:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#b6c0bf;
}

    
    

